*.cache
*.exe
*.swp

*.json
!settings_example.json
!upload-config_example.json

PhotoSwipe-master/
builds/
data/
tmp/
bin/

# testing folders
local-remote/
server-remote/

# Linux binary
steam-screenshots

