{{define "main"}}
<html>
    <head>
    <title>{{ block "title" .Title}}{{end}}Steam Screenshots</title>
    <style>
        .thumbnail {
            width: 200px;
            float: left;
            margin: 5px;
            height: 150px;
        }
        .grid {
            float: left;
            width: 480px;
            height: 275px;
            padding: auto;
            text-align: center;
        }
    </style>
    </head>
    <body>
        {{block "header" .Header}}{{end}}
        <div id="container">
        {{ block "body" .Body }}{{end}}
        </div>
    </body>
</html>{{end}}
